.backgroundImg1 {
    background-image: url("../assets/images/landing@0.5x.jpg");

}

.backgroundImg2 {
    background-image: url("../assets/images/interior@0.5x.jpg");
}

.backgroundImg3 {
    background-image: url("../assets/images/0414_gorini@0.5x.jpg");
}

.backgroundImg4 {
    background-image: url("../assets/images/0814_gorini@0.5x.jpg");
}

.backgroundImg5 {
    background-image: url("../assets/images/0279_gorini@0.5x.jpg");
}

.backgroundImg6 {
    background-image: url("../assets/images/0733_gorini@0.5x.jpg");
}

.backgroundImg7 {
    background-image: url("../assets/images/3553_gproulx@0.5x.jpg");
}
